aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
attrs==24.2.0
certifi==2024.8.30
charset-normalizer==3.4.0
frozenlist==1.4.1
idna==3.10
joblib==1.4.2
maxpackage @ git+https://github.com/maxrerisi/max-package.git@7143d210287e518b9b1d00bddfc8714a45106260
multidict==6.1.0
myPackage @ git+https://github.com/maxrerisi/max-package2.git@e3e27c72afecef2af0d5f5d2b440f6156ceb275e
numpy==2.1.2
oauthlib==3.2.2
pandas==2.2.3
propcache==0.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
pyzmq==26.2.0
requests==2.32.3
schedule==1.2.2
scikit-learn==1.5.2
scipy==1.14.1
six==1.16.0
threadpoolctl==3.5.0
tzdata==2024.2
urllib3==2.2.3
wolframclient==1.4.0
xgboost==2.1.1
yarl==1.16.0
